body {
  margin: 0px;
}

.square {
  position: relative; /* Add position relative to establish a stacking context */
  border: 1px solid rgb(57 140 218);
  background-color: rgb(57 140 218);
  width: 30px;
  height: 30px;
  vertical-align: top;
  padding: 0px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 1; /* Set a higher z-index value */
}

.hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the hole */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  z-index: 0; /* Set a lower z-index value */
}




.row {
  padding: 0px;
  margin: 0px;
}

.board {
  max-width: 210px;
  margin: auto;
  border: 3px solid rgb(57 140 218);
  border-radius: 5px;

}



.yellow {
  background-color: rgb(255, 233, 66); /* RGB values for dark yellow */
}

.hoveryellow {
  background-color: rgba(255, 233, 66, 0.5); /* RGB values for dark yellow */
}

.red {
  background-color: rgb(255, 29, 29); /* RGB values for dark yellow */
}

.hoverred {
  background-color: rgba(255, 29, 29, 0.5); /* RGB values for dark yellow */
}