:root {
  --object-size: 100px; /* Define a variable for the size of objects */
}

body {
  margin: 0px;
}

.square {
  position: relative;
  border: 1px solid rgb(57 140 218);
  background-color: rgb(57 140 218);
  width: var(--object-size);
  height: var(--object-size);
  vertical-align: top;
  padding: 0px;
}

.circle,
.hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--object-size) * 0.83); /* Adjusted size for circle and hole */
  width: calc(var(--object-size) * 0.83); /* Adjusted size for circle and hole */
  border-radius: 50%;
}

.circle {
  z-index: 1;
}

.hole {
  background-color: white;
  z-index: 0;
}

.row {
  padding: 0px;
  margin: 0px;
}

.board {
  max-width: calc(var(--object-size) * 7);
  margin: auto;
  border: 3px solid rgb(57 140 218);
  border-radius: 5px;
  
}

.yellow {
  background-color: rgb(255, 233, 66);
}

.hoveryellow {
  background-color: rgba(255, 233, 66, 0.5);
}

.red {
  background-color: rgb(255, 29, 29);
}

.hoverred {
  background-color: rgba(255, 29, 29, 0.5);
}
