body {
  margin: 0px;
  background-color: #302E2B;
}

.parent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90vh; /* Full viewport height */
}

.row {
  padding: 0px;
  margin: 0px;
}

.board {

}

.board-back{
  position: relative;
  z-index: 1;
  max-width: 700px;
  height: 600px;

  margin: auto;
  background-color: #0C395E;
  border-radius: 15px;

}
.board-front{
  position: absolute;
  top: 0%;
  margin: auto;
  z-index: 3;
  width: 700px;
  height: 600px;
  background-image: url('board.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.circle {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

/* Ensure that circles have a higher z-index than -1 */
.circle:not(.hover) {
  animation-name: drop;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}
.square-container {
  display: inline-block;
  position: relative; /* Add position relative to establish a stacking context */
  width: 100px;
  height: 100px;
  vertical-align: top;
  padding: 0px;
}
.square {
  z-index: 4;
  position: relative; /* Add position relative to establish a stacking context */
  width: 100px;
  height: 100px;
  background: transparent;
  border: none !important;
  vertical-align: top;
  padding: 0px;
}


.p1 {
  background-image: url('yellowpiece.png');
  background-size: 80px 80px;

}

.p2 {
  background-image: url('redpiece.png');
  background-size: 80px 80px;
  /* background-color: #EE2B2A; */

}
  

.hover {
  opacity: 0.5;
}
.red {
  background-color: #EE2B2A;
}
.yellow {
  background-color: #FEE843;
}

.grey {
  background-color: #a1a1a1;
}
h1 {
  text-align: center;
  color: black;
  
}
h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to the card */
}

.container {
  position: relative; /* Ensure proper positioning context for child elements */
  height: 100vh; /* Adjust container height based on viewport */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #f0f0f0; /* Optional: Set a background color for the container */
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Set a fixed width for the card */
  max-width: 80%; /* Limit the maximum width of the card */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
  animation-name: dropfade;
  animation-duration: 0.4s;
  z-index: 10;
}

.card-header {
  color: white;
  padding: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  display: flex;
  flex-direction: column; /* Arrange child elements vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px;}

  .restart-button {
    background-color: #81B64C;
    color: #5D9948;
    width: 200px;
    height: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .restart-button:hover {
    background-color: #A0CF5E;
    color: #76AA48;

  }
  
  .restart-button h2 {
    margin: 0; /* Remove margin to ensure text is properly centered */
    color: white; /* Set text color */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Apply bold font weight */
    text-align: center; /* Center text horizontally */

  }
  

@keyframes drop {
  0%   { top: -500px;} /* Starting position above the viewport */
  100% { top: 20%;} /* Final centered position */
}

@keyframes dropfade {
  0% { top: -200px;}
  25% {opacity: 0;}
  100% {
    opacity: 1; /* Final opacity (fully opaque) */
    top: 50%; /* Final centered position */
  }
}
